.header {
  /* width: 100vw; */ // width issue
  background: $secondaryPageColor;
  margin-bottom: 24px;
  overflow: auto; // remove collapsing margins
  
  &__content {
    display: flex;
    justify-content: space-between;
    margin: 60px $marginGeneral 0 $marginGeneral;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
  } 

  &__social-list {
    display: flex;
    text-transform: uppercase;
    
    &__item {
      width: 164px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $textSubtitile;
      font-weight: 500;
      cursor: pointer;
  
      &--active {
        color: $textActive;
        border-bottom: 2px solid $primary;
      }
    }
  }
}
