.main-content {
  margin: 0 $marginGeneral;
  margin-bottom: 62px;

  &__columns {
    display: flex;
    flex-direction: column;
  }

  &__titles {
    display: flex;
    margin-bottom: 33px;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

}

.table-title {
  &--post-column {
    width: $postColumnWidth;
  }

  &--published-column {
    width: $publishedColumnWidth;
  }

  &--link-column {
    width: $linkColumnWidth;
  }
}

.posts {
  &__item {
    display: flex;
    flex-direction: row;
  }
}

.post {
  &__img-container {
    width: 74px;
    height: 71px;
    border-radius: 4px;
    background: #C4C4C4;
    overflow: hidden;
  }

  &__preview {
    display: flex;
    align-items: center;
    width: $postColumnWidth;
    gap: 16px;
  }

  &__publish-info {
    display: flex;
    width: $publishedColumnWidth;
    gap: 8px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__controls {
    display: flex;
    width: $linkColumnWidth;
    align-items: center;
  }
}

.publish-info {
  &__status-container {
    margin-top: 14px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
}

.status-container {
  &--success circle {
    fill: $statusSuccess;
  }

  &--warning circle {
    fill: $statusWarning;
  }

  &--error circle {
    fill: $statusError;
  }
}

.controls {
  &__item {
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;

    &:hover svg path {
      fill: $primary;
    }

    &:hover svg rect {
      fill-opacity: 0.04;
    }

    &:active svg rect {
      fill-opacity: 0.24;
    }
  }

  &__dropdown {
    display: none;
    width: 134px;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px 0;
    margin-top: 7px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
  }
}

.dropdown {
  &__item {
    padding: 9px 0 7px 16px;
    
    &:hover {
      background: $dropDownItemHover
    }
  }
}

.dropdown-menu-toggle {
  display: none;
}

input[id^="dropdown-menu-"]:checked ~ .controls__dropdown {
  display: block;
}

input[id^="dropdown-menu-"]:checked + .dropdown-menu-label svg rect {
  fill-opacity: 0.24;
}

input[id^="dropdown-menu-"]:checked + .dropdown-menu-label svg path {
  fill: $primary;
}
