$primary: #2196F3;

$primaryPageColor: #FFF;
$secondaryPageColor: rgba(0, 0, 0, 0.04);

$textPrimary: #000;
$textSecondary: rgba(0, 0, 0, 0.54);
$textActive: $primary;

$marginGeneral: 180px;

$paddingButton: 8px 22px;

$buttonColor: $primary;
$buttonColorHover: #0B79D0;
$buttonFontColor: #FFFFFF