$primary: #2196F3;

$primaryPageColor: #FFF;
$secondaryPageColor: rgb(235 235 235);

$textPrimary: #000;
$textSecondary: rgba(0, 0, 0, 0.38);
$textSubtitile: rgba(0, 0, 0, 0.54);
$textActive: $primary;
$textNavigation: rgba(0, 0, 0, 0.54);

$marginGeneral: 180px;

$postColumnWidth: 64.77%;
$publishedColumnWidth: 27.85%;
$linkColumnWidth: 7.38%;

$paddingButton: 8px 22px;

$buttonColor: $primary;
$buttonColorHover: #0B79D0;
$buttonFontColor: #FFFFFF;

$iconHover: rgba(33, 150, 243, 0.04);
$iconActive: rgba(33, 150, 243, 0.24);

$disabledControl: $textSubtitile;
$disabledButtonBG:rgba(0, 0, 0, 0.12);
$disabledButtonText: rgba(0, 0, 0, 0.26);
$disabledButtonIcon: $disabledButtonText;

$dropDownItemHover: #F5F5F5;

$statusSuccess: #4CAF50;
$statusWarning: #FF9800;
$statusError: #F44336;

$inputBorderColor: rgba(224, 224, 224, 1);
$placeholderColor: rgba(0, 0, 0, 0.54);

$dividerColor: $inputBorderColor;

$dragdropBorder: rgba(0, 0, 0, 0.38);

$scrollBarColor: rgba(189, 189, 189, 1);