@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap&subset=cyrillic-ext");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  /* margin-top: 1em; */
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  /* margin-top: 1em; */
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-transition-property: background-color, fill, border, opacity;
  transition-property: background-color, fill, border, opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

/* .container {
  width: 100vw; // width issue
  height: 100vh;
} */
.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 32.016px;
  color: #000;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}

.btn {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding: 8px 22px;
  background: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}
.btn:hover {
  background: #0B79D0;
}
.btn__icon {
  width: 24px;
  height: 24px;
}
.btn__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.text {
  font-weight: 400;
  font-style: normal;
}
.text--primary {
  font-size: 14px;
  color: #000;
  line-height: 20px;
  letter-spacing: 0.15px;
}
.text--secondary {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
  line-height: normal;
  letter-spacing: 0.4px;
}
.text--navigation {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}
.text--hyperlink {
  color: #2196F3;
  cursor: pointer;
}
.text--switcher {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.text--switcher-dark {
  color: #000;
}
.text--switcher-light {
  color: rgba(0, 0, 0, 0.38);
}

.table-title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}

a {
  text-decoration: none;
  color: #000;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

input::placeholder, textarea::placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

input, textarea {
  resize: none;
  margin-bottom: 16px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid rgb(224, 224, 224);
  padding: 0 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}
input:focus, textarea:focus {
  /* border: none; */
  /* outline: 2px solid $primary; */
  outline: none;
  border: 2px solid #2196F3;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgb(224, 224, 224);
  margin: 32px 0;
}

.colorpicker {
  position: relative;
}
.colorpicker__circle {
  width: 46px;
  height: 46px;
  border-radius: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in;
}
.colorpicker__circle::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorpicker__circle::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.colorpicker__circle:hover {
  padding: 3px;
  border: 1px solid rgb(196, 196, 196);
}
.colorpicker__circle:focus {
  padding: 3px;
  border: 1px solid #2196F3;
}
.colorpicker__circle:hover + .colorpicker__label {
  opacity: 1;
}
.colorpicker__label {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
  margin-top: 6px;
  padding: 4px 8px;
  opacity: 0;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 4px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.header {
  background: rgb(235, 235, 235);
}
.header__nav {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 180px;
}

.header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
}

.add-form {
  overflow-y: auto;
  height: 100vh;
}
.add-form__description {
  padding: 132px 150px 0 180px;
  background: rgb(235, 235, 235);
}
.add-form__content {
  padding: 0 32px 0 180px;
}

.description {
  padding-bottom: 24px;
}
.description__title {
  margin-bottom: 4px;
  font-weight: 500;
}

.form-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.15px;
}

.form-block__inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-block__header {
  margin: 32px 0 16px 0;
}

.inputs-container .input-counter:first-child {
  margin-top: 8px;
}
.inputs-container:last-child textarea {
  margin-bottom: 0px;
}
.inputs-container input {
  width: 100%;
}
.inputs-container textarea {
  height: 133px;
  padding-top: 18.5px;
}

.input-counter {
  position: relative;
}
.input-counter::after {
  content: "30";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: -8px 0 0 -30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}

.drag-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  border: 1px dashed rgba(0, 0, 0, 0.38);
  padding: 35px 0;
  gap: 16px;
}
.drag-drop__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drag-drop__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.switcher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.switcher-container .switcher {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}
.switcher-container .switcher__checkbox {
  opacity: 11;
  width: 100%;
  height: 100%;
}
.switcher-container .switcher__checkbox:checked + .switcher-container .switcher__checkbox__slider {
  background-color: #2196F3;
}
.switcher-container .switcher__checkbox:checked + .switcher-container .switcher__checkbox__slider::before {
  -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
          transform: translateX(26px);
  -webkit-filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
}
.switcher-container .switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(224, 224, 224);
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, transform 0.4s;
  transition: background-color 0.4s, transform 0.4s, -webkit-transform 0.4s;
  border-radius: 24px;
}
.switcher-container .switcher__slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}/*# sourceMappingURL=creation.css.map */